.cursor{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: black;
    text-align: center;
  }

