.back {
    position: sticky;
    top: 25px;
    left: 25px;
    width: 70px;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.pageProjectsTittle{
    font-size: var(--fst);
    font-family: var(--titulo);
}
.cardProjectsTittle{
    font-size: var(--fssb);
    font-family: var(--titulo);
}
.projects {
    width: 100%;
    margin: 20px auto;
}

.projectsCardContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border: 1px solid black;
    border-radius: 7px;
    gap: 15px;
}

.projectsCard {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.projectsImg {
    max-width: 100%;
    width: auto;
}

.projectsP {
    width: 50%;
}

.projects>div:nth-child(even)>.projectsCard {
    flex-direction: row-reverse;
}

.linkCard {
    width: 50%;
}