
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root {
  --cor1: #303030;
  --cor2: #ffffff;
  --fst: 86px;
  --fssb: 51px;
  --texto: "Inter Tight", sans-serif;
  --titulo: "Tilt Warp", sans-serif;

  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--cor1);
  background-color: var(--cor2);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: var(--texto);
  cursor: none;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: ligth) {
  :root {
    color: #303030;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ffffff;
  }
}
